.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter {
  margin: 25px;
  font-size: 2rem;
}

.container button {
  width: 100px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
